
@font-face {

    font-family: 'restaurant';
    src: url('fonts/Lemon-Regular.ttf');

}

body

{
    display: flex;
    background: url(./imgs/background.jpg);
    background-size: 33.35%;
    justify-content: center;
    margin: 0; 
    height: 100vh;
    width: auto;
    
    
}


.nav-bar
{
background-color: bisque;
width: 40em;
height: 8em;
display: flex;
align-items: center;
justify-content:space-evenly;
border-bottom: 1px solid black;
}

.btn
{
    font-family: restaurant, 'Times New Roman', Times, serif;
    text-shadow: 4px 4px grey ;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7em;
    height: 80%;
}
.btn:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.btn:active
{
    position: relative;
    top: 2px;
    text-shadow: 2px 2px grey;
}

.menu
{
    background-color: bisque;
    width: 40em;
    min-height: calc(100vh - 10em - 1px); ;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.title
{
    font-size: 4em;
    font-family: restaurant, 'Times New Roman', Times, serif;

}

.index-desc
{
    padding: 2em;
    font-size: 2em;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;

}

.product-container{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.product-desc
{
    padding: 10px;
    font-size: 2em;
}

.product-price
{
    font-family: restaurant, 'Times New Roman', Times, serif;
    font-size: 2em;
}

.product-img
{
    height: 13em;
    width: 25em;
}


.sched-container
{
    padding: 1em;
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    justify-items: center;
    border: double 30px rgb(80, 32, 0);
    align-items: center;
    justify-content: center;
    
}

.sched-container > .title{
    font-size: 3em;
    grid-area: 1/1/2/3;
}

.sched-open
{
    font-size: 2em;
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-desc
{
    margin-bottom: 1em;
    font-size: 2em;
    padding: 2em;
    text-align: justify;
    border-bottom: 1px solid black;
}


.contact-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: double 20px rgb(80, 32, 0);
    padding: 0.5em;
  
}

.contact-desc
{
    font-size: 2em;
}